---
---

@import "{{ site.theme }}";

/* Cascadia Code font */

@font-face {
    font-family: 'Cascadia Code';
    src: url(fonts/CascadiaCode-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;
    src: url(fonts/CascadiaCode-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;
    src: url(fonts/CascadiaCode-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/CascadiaCode-Bold-Italic.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

h1, h2, h3, h4 {
    font-weight: 500;
    margin-bottom: 0.2em;
}

code {
    background-color: #263238;
    font-family: 'Cascadia Code', monospace;
}

body {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.1px;
}

img {
    border-radius: 0.5em;
}

input[type=text], input[type=search] {
    outline: none;
    border: 1px solid #bcbccd;
    border-radius: 8px;
    padding: 2px 6px;
    font-family: inherit;
    font-size: 14px;
}

input[type=text]:focus, input[type=search]:focus {
    border: 2px solid #5192e7;
    box-shadow: 0 0 4px #5192e7;
}

.website-title {
    margin-bottom: 1rem;

    h1, h3 {
        text-align: center;
        font-weight: normal;
        margin-bottom: 0;
    }

    h1 {
        font-size: 52px;
    }

    h3 {
        font-size: 26px;
    }
}

.post-content {
    > p {
        text-align: justify;
    }
}

.note {
    padding: 0.75em;
    background-color: #d3dee2;
    border-radius: 0.5em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip > .tooltip-text {
    visibility: hidden;
    min-width: 60px;
    background-color: #263238;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 4px 6px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%, 0);

    opacity: 0;
    transition: opacity 0.25s ease-in;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.card {
    background: linear-gradient(305deg, rgb(189, 197, 216) 0%, rgb(221, 233, 240) 100%);
    box-shadow: 1px 1px 4px #6e7a96;
    border-radius: 0.5em;
    line-height: 1.2;

    > img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        object-fit: cover;
    }

    hr {
        height: 1px;
        border-width: 0;
        background-color: #74809d;
        margin: 0.4em 0;
    }

    > .card-content {
        padding: 0.5em 1em 0.75em;
    }

    h3, h4, p {
        margin-bottom: 0em;
    }
}

.project-filters-container {
    background-color: #cdcdde;
    box-shadow: 1px 1px 4px #6e7a96;
    border-radius: 12px;
    margin-bottom: 1.2rem;

    h3 {
        font-size: 20px;
        font-weight: bold;
        padding: 0.5rem 0 0.4rem 1rem;
        margin-bottom: 0;
        cursor: pointer;
    }
}

.project-filters.collapsed {
    display: none;
}

.project-filters {
    background-color: #eef;
    border-top: 1px solid #d0d4dd;
    border-radius: 0 0 12px 12px;
    padding: 0.6rem 0.9rem;
    overflow: hidden;

    h4 {
        font-size: 17.5px;
    }

    a, img, button {
        cursor: pointer;
    }

    .project-filters-tags-search {
        display: flex;

        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
        }
    }

    #project-filters-search {
        width: 100%;
        height: 32px;
        margin-bottom: 1rem;
    }

    .project-filters-tags, .project-filters-concepts {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        margin-bottom: 1rem;
    }

    .project-filters-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.25em;
    }

    .project-filters-technologies {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4em;
        margin-bottom: 1rem;

        img {
            border: 2px solid transparent;
            border-radius: 8px;
            padding: 4px;
            height: 36px;
            max-width: 56px;
            object-fit: scale-down;
        }

        img:hover {
            background-color: #cfe4ff;
        }

        img.active {
            border: 2px solid #0963da;
            background-color: #cfe4ff;
        }

        img.active:hover {
            background-color: #bddbff;
        }
    }

    button {
        padding: 0.4em 0.8em;
        background-color: #d8d8e8;
        border: none;
        border-radius: 12px;
        font-family: inherit;
        font-size: 14px;
    }

    button:hover {
        background-color: #ccd;
    }

    button.active {
        background-color: #0963da;
        color: white;
    }

    button.active:hover {
        background-color: #0e57b6;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: max(1.25rem, 2%);
    margin-bottom: 1.5em;

    .filter-tags-hide, .filter-technologies-hide, .filter-concepts-hide, .filter-search-hide {
        display: none;
    }
}

.project {
    display: flex;
    flex-direction: column;
    width: 32%;

    > img {
        min-height: 165px;
        max-height: 165px;
    }

    > .card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 0.25em;
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .project-title {
        font-size: 17px;
    }

    .project-tags {
        display: flex;
        flex-direction: row-reverse;
        gap: 0.25em;
        margin: auto 0em 0em;
        padding-top: 0.25em;
    }

    .project-description {
        font-size: 14px;
    }

    .project-date {
        min-width: 22.5%;
        text-align: end;
        font-weight: bold;
        font-size: 13.5px;
        color: #4c5d75;
    }

    .project-technologies {
        display: flex;
        flex-wrap: wrap;
        gap: 0.1em;
        
        img {
            border-radius: 0;
            height: 36px;
            max-width: 56px;
            object-fit: scale-down;
        }
    }

    .project-concepts {
        margin-top: 0.3em;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25em;
    }

    .project-concept {
        background-color: #4a576b;
        font-size: 12px;
    }
}

.tag {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0.15em 0.7em;
    border-radius: 1em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

@media (max-width: 650px) { 
    .row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .projects {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    .project-filters-tags-search {
        flex-direction: column-reverse;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .project {
        width: 48%;
    }
}

figure.review-cover-art {
    max-width: 300px;
    margin-bottom: 0;
}

figcaption {
    text-align: center;
}

.review-cover-art figcaption, .review-list-cover-art figcaption {
    margin-top: 0.5em;
}

.review-metadata {
    margin: 1em;
}

figure.review-list-cover-art {
    max-width: 200px;
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
}

.review-list-cover-art figcaption {
    font-size: 1em;
}

.social-media-list a {
    display: flex;
    align-items: center;
}
