---
---

@import "{{ site.theme }}";

/* JetBrains Mono font */

@font-face {
    font-family: 'JetBrains Mono';
    src: url(fonts/JetBrainsMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    src: url(fonts/JetBrainsMono-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    src: url(fonts/JetBrainsMono-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/JetBrainsMono-Bold-Italic.ttf) format("truetype");
}

/* Open Sans font */

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    src: url(fonts/MerriweatherSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather Sans';
    font-style: italic;
    src: url(fonts/MerriweatherSans-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-style: italic;
    src: url(fonts/MerriweatherSans-BoldItalic.ttf) format('truetype');
}

code {
    background-color: #263238;
    font-family: 'JetBrains Mono';
}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.note {
    padding: 0.75em;
    background-color: #d3dee2;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

@media (max-width: 650px) { 
    .row {
        flex-direction: column;
        align-items: center;
    }
}

figure.review-cover-art {
    max-width: 300px;
    margin-bottom: 0;
}

.review-cover-art figcaption {
    margin-top: 0.5em;
    text-align: center;
}

.review-metadata {
    margin: 1em;
}

/*
.highlight {
    color: #EEFFFF;

    .highlighter-rouge & {
        background: #263238;
    }

    .c1 { color: #B2CCD6; }
    .s { color: #C3E88D; }
    .k { color: #C792EA; }
    .kt { color: #C792EA; }
    .kc { color: #FF5370; }
    .n { color: #EEFFFF; }
    .nf { color: #82AAFF; }
    .o { color: #89DDF3; }
    .p { color: #89DDF3; }
}
*/