---
---

@import "{{ site.theme }}";

/* Cascadia Code font */

@font-face {
    font-family: 'Cascadia Code';
    src: url(fonts/CascadiaCode-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;
    src: url(fonts/CascadiaCode-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;
    src: url(fonts/CascadiaCode-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/CascadiaCode-Bold-Italic.ttf) format("truetype");
}

/* Ubuntu font */

@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    src: url(fonts/Ubuntu-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: url(fonts/Ubuntu-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    src: url(fonts/Ubuntu-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: italic;
    src: url(fonts/Ubuntu-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: italic;
    src: url(fonts/Ubuntu-MediumItalic.ttf) format('truetype');
}

h1, h2, h3, h4 {
    font-weight: 500;
    margin-bottom: 0.2em;
}

code {
    background-color: #263238;
    font-family: 'Cascadia Code', monospace;
}

body {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -0.1px;
}

img {
    border-radius: 0.5em;
}

.note {
    padding: 0.75em;
    background-color: #d3dee2;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip > .tooltip-text {
    visibility: hidden;
    min-width: 60px;
    background-color: #263238;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 4px 6px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%, 0);

    opacity: 0;
    transition: opacity 0.25s ease-in;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.card {
    background-color: #d3dde9;
    box-shadow: 1px 1px 4px #95a4bb;
    border-radius: 0.5em;
    line-height: 1.2;

    > img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        object-fit: cover;
    }

    hr {
        height: 1px;
        border-width: 0;
        background-color: #95a4bb;
        margin: 0.4em 0;
    }

    > .card-content {
        padding: 0.5em 1em 0.75em;
    }

    h3, h4, p {
        margin-bottom: 0em;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    margin-bottom: 1em;
}

.project {
    display: flex;
    flex-direction: column;
    width: 32%;

    > img {
        min-height: 165px;
        max-height: 165px;
    }

    > .card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 0.25em;
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .project-title {
        font-size: 18px;
    }

    .project-tags {
        display: flex;
        flex-direction: row-reverse;
        gap: 0.25em;
        margin: auto 0em 0em;
        padding-top: 0.25em;
    }

    .project-description {
        font-size: 14.5px;
    }

    .project-date {
        min-width: 22.5%;
        text-align: end;
        font-weight: bold;
        color: #5e718d;
    }

    .project-technologies {
        display: flex;
        flex-wrap: wrap;
        gap: 0.1em;
        
        img {
            border-radius: 0;
            height: 36px;
            max-width: 56px;
            object-fit: scale-down;
        }
    }

    .project-concepts {
        margin-top: 0.3em;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25em;
    }

    .project-concept {
        background-color: #4a576b;
        font-size: 12px;
    }
}

.tag {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0.15em 0.7em;
    border-radius: 1em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

@media (max-width: 650px) { 
    .row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .projects {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .project {
        width: 48%;
    }
}

figure.review-cover-art {
    max-width: 300px;
    margin-bottom: 0;
}

figcaption {
    text-align: center;
}

.review-cover-art figcaption, .review-list-cover-art figcaption {
    margin-top: 0.5em;
}

.review-metadata {
    margin: 1em;
}

figure.review-list-cover-art {
    max-width: 200px;
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
}

.review-list-cover-art figcaption {
    font-size: 1em;
}

/*
.highlight {
    color: #EEFFFF;

    .highlighter-rouge & {
        background: #263238;
    }

    .c1 { color: #B2CCD6; }
    .s { color: #C3E88D; }
    .k { color: #C792EA; }
    .kt { color: #C792EA; }
    .kc { color: #FF5370; }
    .n { color: #EEFFFF; }
    .nf { color: #82AAFF; }
    .o { color: #89DDF3; }
    .p { color: #89DDF3; }
}
*/